<form
  class="text-center border border-light p-5"
  [formGroup]="creationForm"
  (submit)="connectGJ()"
>
  <p class="h4 mb-4">Connectez vous</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input
        type="text"
        id="pseudo"
        name="pseudo"
        formControlName="pseudo"
        required
        class="form-control"
        placeholder="Pseudo"
      />
    </div>
  </div>
  <!-- Password -->
  <input
    type="password"
    id="pass"
    name="pass"
    formControlName="pass"
    required
    class="form-control mb-4"
    placeholder="Password"
    aria-describedby="defaultRegisterFormPasswordHelpBlock"
  />
  <!-- Sign up button -->
  <button class="btn btn-info my-4 btn-block" type="submit">
    Connecter
  </button>
</form>
