<div class="container">
  <div class="row">
    <div class="col-sm text-center mx-auto">
      <button
        type="button"
        class="btn btn-warning mt-5"
        (click)="toggleDisplay()"
      >
        S'inscrire
      </button>
      <button
        type="button"
        class="btn btn-warning mt-5 ml-5"
        (click)="toggleDisplay2()"
      >
        Connecter
      </button>

      <app-inscription *ngIf="isShow"></app-inscription>
      <app-connection *ngIf="isShow2"></app-connection>
    </div>
    <div class="col-sm">
      <app-table ></app-table>
    </div>
  </div>
</div>
