<form
  class="text-center border border-light p-5"
  [formGroup]="creationForm"
  (submit)="postNewGj()"
>
  <p class="h4 mb-4">Mettez votre données</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <input
        type="text"
        id="pseudo"
        name="pseudo"
        formControlName="pseudo"
        required
        class="form-control"
        placeholder="Pseudo"
      />
    </div>
    <div class="col">
      <!-- Last name -->
      <input
        type="number"
        id="age"
        class="form-control"
        placeholder="age"
        id="age"
        name="age"
        formControlName="age"
        required
      />
    </div>
  </div>

  <!-- E-mail -->
  <input
    type="email"
    class="form-control mb-4"
    placeholder="E-mail"
    id="email"
    name="email"
    formControlName="email"
    required
  />

  <!-- Password -->
  <input
    type="password"
    class="form-control mb-4"
    placeholder="Password"
    aria-describedby="defaultRegisterFormPasswordHelpBlock"
    id="pass"
    name="pass"
    formControlName="pass"
    required
  />
  <select
    class="browser-default custom-select"
    id="role"
    name="role"
    formControlName="role"
    required
  >
    <option selected>Votre role</option>
    <option value="1">casseur</option>
    <option value="2">spectateur</option>
    <option value="3">policie</option>
  </select>
  <!-- Sign up button -->
  <button class="btn btn-info my-4 btn-block" type="submit">
    S'inscrire
  </button>
</form>
