<table class="table mt-5">
  <thead class="black white-text">
    <tr>
      <th scope="col">Pseudo</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let GJ of getGJ$ | async">
      <td>{{ GJ.pseudo }}</td>
      <td>{{ GJ.age }}</td>
      <td>{{ GJ.email }}</td>
      <td>{{ GJ.role }}</td>
      <button class="action-btn pl-3">
        <i
          class="material-icons"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          >edit</i
        >
      </button>
      <button class="action-btn pl-3" (click)="delete(GJ)">
        <i class="material-icons">delete</i>
      </button>
    </tr>
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="exampleModalCenter">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          class="text-center border border-light p-5"
          [formGroup]="creationForm"
          (submit)="onEdit()"
        >
          <p class="h4 mb-4">Mettez votre données</p>

          <div class="form-row mb-4">
            <div class="col">
              <!-- First name -->
              <input
                type="text"
                id="pseudo"
                name="pseudo"
                formControlName="pseudo"
                required
                class="form-control"
                placeholder="Pseudo"
              />
            </div>
            <div class="col">
              <!-- Last name -->
              <input
                type="number"
                id="age"
                class="form-control"
                placeholder="age"
                id="age"
                name="age"
                formControlName="age"
                required
              />
            </div>
          </div>

          <!-- E-mail -->
          <input
            type="email"
            class="form-control mb-4"
            placeholder="E-mail"
            id="email"
            name="email"
            formControlName="email"
            required
          />

          <!-- Password -->
          <input
            type="password"
            class="form-control mb-4"
            placeholder="Password"
            aria-describedby="defaultRegisterFormPasswordHelpBlock"
            id="pass"
            name="pass"
            formControlName="pass"
            required
          />
          <select
            class="browser-default custom-select"
            id="role"
            name="role"
            formControlName="role"
            required
          >
            <option selected>Votre role</option>
            <option value="1">casseur</option>
            <option value="2">spectateur</option>
            <option value="3">policie</option>
          </select>
          <!-- Sign up button -->
          <button class="btn btn-info my-4 btn-block" type="submit">
            S'inscrire
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
